html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #111827;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 100%;
  height: 10px;
}

progress[value]::-webkit-progress-value {
  background-color: rgb(255, 255, 104);
  border-radius: 50px; 
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 50px;
}

.background-image{
  background-image: url('/img/weather/Cloud-background.png');
  background-repeat: no-repeat;
  background-position: 50% 25%;
  opacity: 0.15;
}

